.cart{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cart-icon{
    background-color: var(--black);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    display: inline-block;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    cursor: pointer;
    position: relative;
}

.shop{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    line-height: 1.6;
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    font-size: 1.5rem;
}

.cart-widget{
    position: absolute;
    background-color: var(--white);
    max-width: 60rem;
    height: 25rem;
    left: -16rem;
    top: 5rem;
    font-size: 1.5rem;
    z-index: 1000;
    border-radius: 2rem;
    box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
    overflow-y: scroll;
}

@media screen and (min-width: 720px){
    .cart-widget{
        left: -45rem;
    }
}

.cart-widget .cart-item{
    padding: 1rem;
}

.cart-widget .cart-header h4{
    font-size: 1.5rem;
}

.cart-widget .cart-item-img{
    width: 4rem;
}

.cart-widget .cart-item-img img{
    height: 4rem;
}

.cart-widget .cart-item-trash .icon-trash{
    width: 1.5rem;
}
.cart-item-total{
    padding-bottom: 2rem;
    position: relative;
}

.cart-item-total::before{
    content: 'Total';
    color: #999999;
    position: absolute;
    left: -6rem;
}