

.addToCart{
    display: flex;
    justify-content: space-around;
    background-color: var(--black);
    color: var(--white);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
}