:root{
  --branding: #ff626d;
  --secondary: #fcad72;
  --black: #2F3231;
  --white: #fff;
  --bg-deg: linear-gradient(to right, var(--branding), var(--secondary));
  --font-primary: 'Poppins', sans-serif; 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font-primary);
  font-size: 1.8rem;
}

h1{
  font-size: 4rem;
}

/*utilities*/

.container{
  width: 90%;
  margin: 0 auto;
}